<ion-view title="Signup" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="signup-form7" class="list">
            <ion-list id="signup-list1">
                <label class="item item-input" id="signup-input4">
                    <span class="input-label"></span>
                    <input type="text" placeholder="Enter your Name">
                </label>
                <label class="item item-input" id="signup-input5">
                    <span class="input-label"></span>
                    <input type="text" placeholder="Choose Username">
                </label>
                <label class="item item-input" id="signup-input6">
                    <span class="input-label"></span>
                    <input type="password" placeholder="Choose Password">
                </label>
            </ion-list>
            <button id="registered" class="button button-stable  button-block" ng-click="start()">Register</button>
        </form>
    </ion-content>
</ion-view>